{
	"semi": false,
	"useTabs": true,
	"pets.settings.prettierEnabled": true,
	"bracketSpacing": true,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": true
}